* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'StratosSkyeng', sans-serif;
    background-color: #0F0804;
}

.header {
    height: 100vh;
    background-image: url(images/13.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__overlay {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 80.49%, #0F0804 100%);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__title {
    margin: auto;
    font-size: 96px;
    text-align: center;
    color: white;
    max-width: 658px;
    font-weight: 400;
}

.header__link {
    height: 90px;
    width: 100%;
    background: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(11.5px);
}

.header__link:hover {
    opacity: .8;
}

.header__anchor {
    text-decoration: none;
    color: white;
    font-size: 24px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    list-style-type: none;
    margin: 173px auto;
    display: flex;

    max-width: 1060px;
    /*flex-direction: column;*/
    height: 600px;
    /*align-items: center;*/
    flex-wrap: wrap;
    justify-content: center;
    gap: 35px;

}

.gallery__item {
    width: 330px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_title {
    max-width: 260px;
    font-size: 24px;
    text-align: center;
    position: absolute;
    color: white;
    z-index: 2;
    display: none;
}

.galley_item::after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    color: white;
    display: none;
}

.gallery_item:hover::after,
.gallery_item:hover .image_title {
    display: block;
}

.image {
    width: 100%;
}

.image_like {
    position: absolute;
    background-image: url(./Like\ \(1\).svg);

    width: 45px;
    height: 38px;
    bottom: 4px;
    right: 50px;
}

.image_like:hover {
    background-image: url(./Like_active.svg);
}

.image_favorite {
    position: absolute;
    background-image: url(./Choosen.svg);
    width: 35px;
    height: 38px;
    bottom: 4px;
    right: 0px;
}

.image_favorite:hover {
    background-image: url(./Choosen_active.svg);
}

.footer {
    height: 100vh;
    background-image: url(./images/7.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer__overlay {
    display: flex;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #0F0804 0%, rgba(0, 0, 0, 0.6) 100%);
}

.footer__text {
    margin: auto;
    font-size: 40px;
    color: white;
}